*{
padding: 0;
margin: 0;
}
html{
    background:rgb(205, 250, 255);
}
.calculator{
   margin-left: 200px;
   margin-top:60px;
    width: 300px;
    height:500px;
    border:3px solid #5a5a5a;
    border-radius: 3px;
    background: #ffffff9c;
    color:rgb(29, 29, 29);
    padding: 18px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}

.calc-screen{
    height: 100px;
    padding: 5px;
    display:grid;
    justify-items: end;
    align-items:center;
    color:black;
   
}

.calc-screen1{
text-align: right;
font-size: 45px;
width: 100%;
border: none;
outline: none;;
background: #ffffff48;
}

.container{
display: inline-flex;
flex-wrap: wrap;
}
button{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
    margin: 4px;
    border:3px solid #5a5a5a;
    border-radius: 3px;
    width: 67px;
    height: 67px;
    text-align: center;
   cursor: pointer;
   
}
button.zero{
    grid-area:zero;
    width: 47.3%;
}
.bg1{
    background-color: #faddf9ae;
    line-height: 65px;
}
.bg2{
    background-color: #d2f69cb2;
    line-height: 65px;
}
.bg3{
    background-color: #d3caf5b7;
    line-height: 65px;
}
.bg4{
    background-color: #d3caf5;
    line-height: 44px;  
}
button:hover{
    filter:brightness(110%);
}
button:active{
    filter:brightness(90%);
}
